.card {
  background-color: #fadbd1;
  margin: 0.5vw;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  font-size: 1.5vw;
  border-color: #2b2b2b;
  border-style: solid;
  border-width: 0.2vw;
}
