.dashboadContainer {
  position: relative;
  width: 100%;
}

.foodContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  gap: 0px 0px;
  position: absolute;
  width: 100%;
  opacity: 1;
}

.foodItem {
  margin-top: 10%;
}

.foodDetail {
  position: absolute;
}
